@import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat:300");
/* 
font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif;
*/

textarea:focus,
input:focus {
  border: 1.25px solid #dcae1d !important;
}

img {
  width: 100%;
}

nav li a:hover {
  color: #dcae1d !important;
  transition: cubic-bezier(1, 0, 0, 1), 1s;
}

.navbar-color {
  background-color: rgba(30, 64, 114, 0.938);
}

.avatar-nav {
  margin: 7px 8px 0px 8px;
}
.login-button {
  padding-left: 40px;
  padding-right: 40px;
}

.post {
  margin-top: 20px;
}

.event {
  margin-top: 20px;
}

.login {
  background-image: url("./img/aerial-town.jpg");
  background-size: cover;
  background-position: center;
  height: 120vh;
  padding-top: 8%;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 8px;
  margin: 0% 15% 0 15%;
  padding: 5% 5% 8% 5%;
  border: 1px solid rgba(250, 250, 250, 0.568);
}

.register {
  background-image: url("./img/aerial-city.jpg");
  background-size: cover;
  background-position: center;
  height: 120vh;
  padding-top: 3%;
}

.dashboard {
  margin-top: 20px;
}

.profile {
  margin-top: 20px;
  margin-bottom: 20px;
}
.profiles {
  margin-top: 20px;
  margin-bottom: 20px;
}
.signup-box {
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 8px;
  margin: 0% 15% 0 15%;
  padding: 5% 5% 8% 5%;
  border: 1px solid rgba(119, 119, 119, 0.5);
}

.welcome-page {
  height: 100vh;
}
.edit-profile {
  margin-top: 20px;
  margin: 0px auto;
}
.groups {
  margin-top: 20px;
}

.landing {
  position: relative;
  background: url("./img/hills-calm-colors.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.brand-text {
  color: rgb(255, 255, 255);
  font-size: 10vh;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
.create-profile {
  margin-top: 20px;
}
.edit-profile {
  margin-top: 20px;
}

.community-card {
  box-shadow: 2px 5px 10px rgb(146, 146, 146);
  margin: 10px 0px 10px 0px;
  padding: 1px;
}

.card-title-text {
  color: rgb(255, 255, 255);
  font-size: 6vw;
  opacity: 0.9;
}
.header-box {
  background-image: linear-gradient(
    rgba(40, 107, 146),
    rgba(156, 156, 156, 0.753)
  );
  border: none;
  box-shadow: none;
}

.landing-inner {
  padding-top: 80px;
}

.blue-text {
  color: rgba(30, 64, 114, 0.938);
}

.icon-sizing-1 {
  font-size: 2em;
}
.dashboard-option {
  padding: 45px;
  margin: 10px 0px;
}

.red-button {
  background-color: rgb(241, 86, 86);
  color: white;
}
.gray-button {
  background-color: rgb(173, 173, 173);
  color: white;
}
.responsive-header-text {
  font-size: 2.5rem;
}

.dark-overlay {
  background-color: rgba(26, 26, 26, 0.473);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.no-padding {
  padding: 0px;
}
.card-form {
  opacity: 0.9;
}
.post-text {
  background-color: rgba(221, 221, 221, 0.459);
  border-radius: 20px;
  padding: 1.7%;
  margin: 0px 0px 20px 0px;
}
.edit-profile-img {
  width: 22vw;
}
.post-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 5px;
  margin-bottom: 3px;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.event-title {
  color: rgba(40, 107, 146, 0.795);
}
.that-blue-color {
  background-color: rgba(40, 107, 146, 0.795);
}

.thin-text {
  font-family: "Montserrat", sans-serif;
}

.form-control::placeholder {
  color: #bbb !important;
}
.card-header {
  background-color: rgba(40, 107, 146, 0.795);
}
.post-form {
  background-color: rgb(204, 204, 204);
}
.btn-primary {
  background-color: rgba(30, 64, 114, 0.938);
  border: none;
  transition: .5s;
}
.btn-primary:hover {
  background-color: rgba(59, 94, 146, 0.938);
  border: none;
  transition: .5s;
}


.post-card {
  background-color: rgb(247, 247, 247);
  border-radius: 0px;
}

@media (max-width: 700px) {

  .dashboard-option-text {
    font-size: 10px;
    
  }

  .dashboard-option {
    padding: 10px;
    margin: 8px 0px;
  }

  .brand-text {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }
  .container {
    padding: 0 2%;
  }
  .login-box {
    border-radius: 8px;
    margin: 10% 2%;
    padding: 10% 5%;
  }
  .signup-box {
    border-radius: 8px;
    margin: 10% 2%;
    padding: 10% 5%;
  }
  .avatar-nav {
    margin: 7px 0px;
  }
  .post-avatar {
    height: 4.2rem;
    width: 4.2rem;
    margin: 0px 38%;
  }
  .event-avatar {
    height: 4.2rem;
    width: 4.2rem;
    margin: 0px 40%;
  }
  
}
